<div class="col-md-12">
    <h2 class="text-center">Adicionar Cliente</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" formControlName="nome" placeholder="nome" name="nome" class="form-control" id="nome">
        </div>
        <div class="form-group">
            <label for="endereco">Endereço:</label>
            <input type="text" formControlName="endereco" placeholder="endereco" name="endereco" class="form-control"
                id="endereco">
        </div>
        <div class="form-group">
            <label for="bairro">Bairro:</label>
            <input type="text" formControlName="bairro" placeholder="bairro" name="bairro" class="form-control"
                id="bairro">
        </div>
        <div class="form-group">
            <label for="cidade">Cidade:</label>
            <input type="text" formControlName="cidade" placeholder="cidade" name="cidade" class="form-control"
                id="cidade">
        </div>
        <div class="form-group">
            <label for="uf">UF:</label>
            <input type="text" formControlName="uf" placeholder="uf" name="uf" class="form-control" id="uf">
        </div>
        <div class="form-group">
            <label for="telefone">Telefone:</label>
            <input type="text" formControlName="telefone" placeholder="telefone" name="telefone" class="form-control"
                id="telefone">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" formControlName="email" placeholder="email" name="email" class="form-control"
                id="email">
        </div>
        <button class="btn btn-success">Salvar</button>
    </form>
</div>
