<div class="col-md-12">
    <button class="btn btn-primary" style="width:100px; margin-top: 10px" (click)="addClient()">+</button>
    <table class="table table-hover table-bordered" style="margin-top: 10px;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Endereço</th>
                <th scope="col">Bairro</th>
                <th scope="col">Cidade</th>
                <th scope="col">UF</th>
                <th scope="col">Telefone</th>
                <th scope="col">Email</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of clients">
                <th scope="row">{{client.id}}</th>
                <td>{{client.nome}}</td>
                <td>{{client.endereco}}</td>
                <td>{{client.bairro}}</td>
                <td>{{client.cidade}}</td>
                <td>{{client.uf}}</td>
                <td>{{client.telefone}}</td>
                <td>{{client.email}}</td>
                <td><button class="btn btn-danger" (click)="deleteClient(client)">Excluir</button>

                    <button class="btn btn-success" style="margin-left: 20px;"  [routerLink]="['/edit-client/', client.id]">Editar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
