<div class="card mt-4">
    <h4 class="card-header">Você está logado</h4>
    <div class="card-body">
        <h6>Usuários</h6>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="users">
            <li *ngFor="let user of users">
              Username: {{user.username}} | Email: {{user.email}}
            </li>
        </ul>
    </div>
</div>
